@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*About me*/
.peter-dream{
  background-image: url(images/biography-bg.png);
  background-repeat: no-repeat;
  margin-top: 150px;
}
Section{
  /*height: 580px;*/

}
.headerSection{
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
height: 580px;}
.imgfor{
  width:400px;
}
.jackVai{
  font-size: 50px;
  color: #EC4D81;
}
h2{
  font-size: 40px;
  
  
}
.colorCode{
  color: dimgray;
}
#buttonHere{
  text-decoration: none;
 background-image: linear-gradient(50deg, #EC4D81 ,#F07095);
 padding: 10px 20px;
 border: 1px solid;
 border-radius: 5px;
 color: white;
margin-top: 9px;position: absolute;}
.main-header{
  width: 40%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;
}
.img-work{
  width:30%;
  float: left;
  margin-left: 2%;
  box-shadow: 10px 10px 30px gray;

}
.forSize {margin-top: 50px;position: absolute;margin-left: 55px;}
/*Progressbar start*/

h1.colofor {color: #fec608;}
p.welcom {
  font-size: 30px!important;
  line-height: 25px;
}
.mylogo{
    width: 200px;
    height: 80px;
}
li{padding: 0px 14px;}
button#dropdownMenu2 {
    background: none;border: none;font-size: 15px;
    position: relative;
    top: -4px;
color: white;}
form.dropdown-menu.p-4.show {background: white;}
button.btn.dropdown-toggle {color:white;font-size: 15px;
                            position: relative;
                             top: -4px;}
ul.dropdown-menu.show {background-color: white;}

html {
  font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: #fec608;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}
.button-primary:hover {
  color: #c0ca33;
  text-decoration: none;
}
.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}
.header-area {
  position: relative;
  height: 100vh;
  background-image: url(images/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 400;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
  
}
.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  width: 350px;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  color: black;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #c0ca33;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;}
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/*Follow start*/
.box-part.text-center:hover {
  transform: scale(1.1);
  background: #fec608;
  color: black;
  
}
span{
  font-size:15px;
}
a{
text-decoration:none; 
color: #0062cc;

}
.box{
  padding:60px 0px;
  margin-top: 27px;
}

.box-part{
  cursor: pointer;
  background: #dddddd;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
box-shadow: 0px 2px 4px 0px #857c7c;
transition: 0.6s;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}
h1.follow {text-align: center;color: black;}
/*Follow End*/
/*Footer start*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #088467;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #4d4e4e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
    font-size: 20px;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
color: white;}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
color: wheat;}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color: #fff6f6;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
color: white;}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/*Video BG*/
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  
  .section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
  }
  
  .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }
  
  .color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  }
  .banner.content {position: absolute;top: 0px;left: 70px;}

  /*Education start*/
  .education_area {
    padding-bottom: 60px;
    width: 1003px;
    margin: auto;
  }
  .main_title {text-align: center;margin-bottom: 52px;padding-top: 60px;}
  .education_area .education_inner_area {
    position: relative;
    overflow: hidden;
  }
  
  .education_area .education_inner_area:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    margin-left: -2.5px;
    background: rgba(254, 198, 8, 0.5);
  }
  
  .education_area .education_inner_area .education_item {
    width: 50%;
    max-width: 420px;
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    z-index: 2;
  }
  
  .education_area .education_inner_area .education_item:before {
    content: attr(data-line);
    position: absolute;
    right: -108px;
    top: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid #f7da7b;
    text-align: center;
    color: #fff;
    line-height: 43px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fec608;
  }
  
  .education_area .education_inner_area .education_item:after {
    content: "";
    background: #f7da7b;
    height: 4px;
    position: absolute;
    right: -78px;
    top: 0px;
    width: 119%;
  }
  
  .education_area .education_inner_area .education_item:nth-child(even) {
    float: right;
  }
  
  .education_area .education_inner_area .education_item:nth-child(even):before {
    right: auto;
    left: -108px;
  }
  
  .education_area .education_inner_area .education_item:nth-child(even):after {
    left: -78px;
  }
  
  .education_area .education_inner_area .education_item:nth-child(odd) {
    float: left;
  }
  
  .education_area .education_inner_area .education_item:nth-child(2) {
    margin-top: 108px;
  }
  
  .education_area .education_inner_area .education_item:last-child {
    margin-bottom: 0px;
  }
  
  .education_area .education_inner_area .education_item h6 {
    font-size: 14px;
    color: #fec608;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
  
  .education_area .education_inner_area .education_item h4 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #333333;
    padding: 8px 0px 7px 0px;
  }
  
  .education_area .education_inner_area .education_item h5 {
    font-size: 14px;
    color: #333333;
    font-family: "Raleway", sans-serif;
  }
  .education_area .education_inner_area .education_item p {
    font-size: 13px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #666666;
    font-weight: 400;
    padding-top: 12px;
  }
  
  /*Education End*/

  /*Service css*/
  .service_area {
    background: #fec608;
    padding: 0px 50px 60px 50px;
    margin-top: 20px;
  }
  
  .service_area .service_inner .service_item {
    text-align: center;
    margin-top: 30px;
  }
  
  .service_area .service_inner .service_item i {
    height: 62px;
    width: 62px;
    line-height: 60px;
    border-radius: 50%;
    background: #efefef;
    border: 2px solid #222222;
    font-size: 30px;
    color: #222222;
    transition: all 400ms linear 0s;
  }
  
  .service_area .service_inner .service_item h4 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #222222;
    padding: 25px 0px 15px 0px;
  }
  
  .service_area .service_inner .service_item p {
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    color: #333333;
  }
  
  .service_area .service_inner .service_item:hover i {
    background: #222222;
    border-color: #efefef;
    color: #fff;
  }
  
  /*Service css end*/

  /*Protfoli start*/
  .portfolio_area .porfolio_menu {
    text-align: center;
  }
  
  .portfolio_area .porfolio_menu .causes_filter {
    text-align: center;
    border-bottom: 5px solid #fff;
    display: inline-block;
    border-radius: 2.5px;
  }
  
  .portfolio_area .porfolio_menu .causes_filter li {
    display: inline-block;
    margin-right: 45px;
  }
  
  .portfolio_area .porfolio_menu .causes_filter li a {
    font-size: 18px;
    color: #222222;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
    position: relative;
    display: inline-block;
  }
  
  .portfolio_area .porfolio_menu .causes_filter li a:before {
    content: "";
    height: 5px;
    background: #fec608;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -5px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 400ms linear 0s;
  }
  
  .portfolio_area .porfolio_menu .causes_filter li:hover a:before, .portfolio_area .porfolio_menu .causes_filter li.active a:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .portfolio_area .porfolio_menu .causes_filter li:first-child a:before {
    border-bottom-left-radius: 2.5px;
    border-top-left-radius: 2.5px;
  }
  
  .portfolio_area .porfolio_menu .causes_filter li:last-child {
    margin-right: 0px;
  }
  
  .portfolio_area .porfolio_menu .causes_filter li:last-child a:before {
    border-bottom-right-radius: 2.5px;
    border-top-right-radius: 2.5px;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item {
    margin-top: 40px;
    display: inline-block;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item .portfolio_img {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item .portfolio_img:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item .portfolio_img img {
    max-width: 100%;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item .portfolio_title {
    text-align: center;
    background: #fff;
    transition: all 400ms linear 0s;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item .portfolio_title h4 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    padding: 18px 0px 10px 0px;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item .portfolio_title h5 {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: #666666;
    padding-bottom: 18px;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item:hover .portfolio_img:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item:hover .portfolio_title {
    background: #fec608;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item:hover .portfolio_title h4 {
    color: #fff;
  }
  
  .portfolio_area .portfolio_list_inner .portfolio_item:hover .portfolio_title h5 {
    color: #fff;
  }
  .col-md-4 {display: initial;padding: 26px;}

  /*Protfoli end*/
  
  .mapfor{
    width: 1160px;
    height: 300px;
  }
  .mapWeb{
    padding: 10px;
  }

  /*last progress*/
  section.skill-bg {background-color: #ddd;height: 580px;}
  .demo{ background: #2c304a; }
  .progress-title{
      font-size: 18px;
      font-weight: 700;
      color: black;
      margin: 0 0 20px;
  }
  .progress{
      height: 20px;
      background: #171b3c;
      border-radius: 20px;
      border: 1px solid #000;
      box-shadow: 0 2px 2px #4f4c4c;
      margin-bottom: 40px;
      overflow: visible;
      position: relative;
  }
  .progress .progress-bar{
      border-radius: 20px;
      border:  1px solid #000;
      -webkit-animation: animate-positive 2s;
      animation: animate-positive 2s;
  }
  .progress .progress-value{
      width: 65px;
      height: 25px;
      line-height: 25px;
      background: #171b3c;
      font-size: 15px;
      color: #fff;
      border-radius: 0 0 15px 15px;
      border: 1px solid #000;
      border-top: none;
      box-shadow: 0 2px 2px #4f4c4c;
      position: absolute;
      bottom: -25px;
      right: 60px;
  }
  @-webkit-keyframes animate-positive{
      0% { width: 0; }
  }
  @keyframes animate-positive{
      0% { width: 0; }
  }
  .myskill_test {
    text-align: center;
    
    font-weight: revert;
    font-family: 'Poppins';
    margin-top: 35px;
    margin-bottom:30px;}
    .myskill_test span{
      font-size: 48px;border: 2px solid;padding: 0px 31px;
    }
  /*Last progress end*/