@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*About me*/
.peter-dream{
  background-image: url(images/biography-bg.png);
  background-repeat: no-repeat;
  margin-top: 150px;
}
Section{
  height: 580px;

}
.headerSection{
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
}
.imgfor{
  width:400px;
}
.jackVai{
  font-size: 50px;
  color: #EC4D81;
}
h2{
  font-size: 40px;
  
  
}
.colorCode{
  color: dimgray;
}
#buttonHere{
  text-decoration: none;
 background-image: linear-gradient(50deg, #EC4D81 ,#F07095);
 padding: 10px 20px;
 border: 1px solid;
 border-radius: 5px;
 color: white;
margin-top: 9px;position: absolute;}
.main-header{
  width: 40%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;
}
.img-work{
  width:30%;
  float: left;
  margin-left: 2%;
  box-shadow: 10px 10px 30px gray;

}
.forSize {margin-top: 50px;position: absolute;margin-left: 55px;}
/*Progressbar start*/
.forDown {padding: 10px;}
section.skill-bg {background-color: #ddd;}
h2.mySkils {
  text-align: center;
  
  font-weight: revert;
  font-family: 'Poppins';
  margin-top: 35px;
  margin-bottom:30px;}

.container .card
{
  position:relative;
  width:250px;
  background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
display: inline-block;
float:left;margin: 10px 13px;}
.container .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.container .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#222;
  z-index:1000;
margin: auto;top: 13px;}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.card:hover .percent .num h2 span
{
  color:#fff;
}
.text
{
  position:relative;
  color:#777;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
  margin-top: 63px;
}
.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
  stroke:#00ff43;
}
.mySkils span {font-size: 48px;border: 2px solid;padding: 0px 31px;}


/*Progress*/
h1.colofor {color: #fec608;}
p.welcom {
  font-size: 30px!important;
  line-height: 25px;
}
.mylogo{
    width: 200px;
    height: 80px;
}
li{padding: 0px 14px;}
button#dropdownMenu2 {
    background: none;border: none;font-size: 15px;
    position: relative;
    top: -4px;
color: white;}
form.dropdown-menu.p-4.show {background: white;}
button.btn.dropdown-toggle {color:white;font-size: 15px;
                            position: relative;
                             top: -4px;}
ul.dropdown-menu.show {background-color: white;}

html {
  font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: #fec608;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}
.button-primary:hover {
  color: #c0ca33;
  text-decoration: none;
}
.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}
.header-area {
  position: relative;
  height: 100vh;
  background-image: url(images/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
  
}
.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  width: 350px;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  color: black;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #c0ca33;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;}
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/*Service start*/
span{
  font-size:15px;
}
a{
text-decoration:none; 
color: #0062cc;

}
.box{
  padding:60px 0px;
  margin-top: 27px;
}

.box-part{
  background: #dddddd;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
box-shadow: 0px 2px 4px 0px #857c7c;}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}
h1.follow {text-align: center;color: black;}
/*Service End*/
/*Footer start*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #088467;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #4d4e4e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
    font-size: 20px;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
color: white;}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
color: wheat;}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color: #fff6f6;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
color: white;}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/*Video BG*/
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  
  .section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
  }
  
  .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }
  
  .color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  }
  .banner.content {position: absolute;top: 0px;left: 70px;}

  /*Education start*/
  .education_area {
    padding-bottom: 60px;
    width: 1003px;
    margin: auto;
  }
  .main_title {text-align: center;margin-bottom: 52px;}
  .education_area .education_inner_area {
    position: relative;
    overflow: hidden;
  }
  
  .education_area .education_inner_area:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    margin-left: -2.5px;
    background: rgba(254, 198, 8, 0.5);
  }
  
  .education_area .education_inner_area .education_item {
    width: 50%;
    max-width: 420px;
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    z-index: 2;
  }
  
  .education_area .education_inner_area .education_item:before {
    content: attr(data-line);
    position: absolute;
    right: -108px;
    top: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid #f7da7b;
    text-align: center;
    color: #fff;
    line-height: 43px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fec608;
  }
  
  .education_area .education_inner_area .education_item:after {
    content: "";
    background: #f7da7b;
    height: 4px;
    position: absolute;
    right: -78px;
    top: 0px;
    width: 119%;
  }
  
  .education_area .education_inner_area .education_item:nth-child(even) {
    float: right;
  }
  
  .education_area .education_inner_area .education_item:nth-child(even):before {
    right: auto;
    left: -108px;
  }
  
  .education_area .education_inner_area .education_item:nth-child(even):after {
    left: -78px;
  }
  
  .education_area .education_inner_area .education_item:nth-child(odd) {
    float: left;
  }
  
  .education_area .education_inner_area .education_item:nth-child(2) {
    margin-top: 108px;
  }
  
  .education_area .education_inner_area .education_item:last-child {
    margin-bottom: 0px;
  }
  
  .education_area .education_inner_area .education_item h6 {
    font-size: 14px;
    color: #fec608;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
  
  .education_area .education_inner_area .education_item h4 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #333333;
    padding: 8px 0px 7px 0px;
  }
  
  .education_area .education_inner_area .education_item h5 {
    font-size: 14px;
    color: #333333;
    font-family: "Raleway", sans-serif;
  }
  .education_area .education_inner_area .education_item p {
    font-size: 13px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #666666;
    font-weight: 400;
    padding-top: 12px;
  }
  
  /*Education End*/